

/* COLOR */
$color-null: transparent;
$white: white;
$black: #000000;
$grey: #c8c7cc;
$grey-dark: #999;
$red: red;
$green: green;
$violet-light: #736bc2;
$violet: #564f9d;
$violet-dark: #504c7b;
$blue:  #3F51B5;
$blue-light: #29B6F6;
$blue-dark: #1A237E;
$cian: #3ab7b4;
$pink:#a94276;
$black: #212121;
$orange: #FF5722;
$orange-light: #FF9E80;
$orange-dark: #BF360C;
$yellow: #F9A825;
$yellow-dark: #FB8C00;
$blue700: #2962ff;

/* MARGIN */
$mg5:5px;
$mg10:10px;
$mg20:20px;
$mg30:30px;
$mg40:40px;

/* TITTLES */
$h1:2.8em;
$h2:2.4em;
$h3:2.0em;
$h4:1.8em;
$h5:1.8em;

/* PARAGRAPHS */


//FONT SIZE
$font10: 10px;
$font12: 12px;
$font15: 15px;
$font18: 18px;
$font20: 20px;
$font22: 22px;
$font25: 25px;

//CONTAINER
$global-container: 1000px;
$bgglobal: #ececec;

//BUTTONS
$btn-primary: #F57C00;
$btn-primary-hover: #EF6C00;
$btn-secundary: #3949AB;
$btn-secundary-hover: #283593;
$btn-success: #FFB300;
$btn-success-hover: #FF8F00;
$btn-events: #536DFE;
$btn-events-hover: #8C9EFF;
$btn-danger: #283593;
$btn-danger-hover: #1A237E;
$btn-facebook: #3b5998;
$btn-facebook-hover: #395287;
$btn-gmail: #db4437;
$btn-gmail-hover: #bf3b30;

//MARGINS
$mgin0: 0px;
$mgin5: 5px;
$mgin7: 7px;
$mgin8: 8px;
$mgin10: 10px;
$mgin15: 15px;
$mgin20: 20px;
$mgin25: 25px;
$mgin30: 30px;
$mgin40: 40px;

//ALING
$acenter: center;
$aleft: left;
$aright: right;
$ajustify: justify;
